.body-color
{
    background-color: #F8F8F8;
}

.body {
    height: 94vh;

}

.body-container {
    padding-top: 2vh;
}

.right
{
    text-align: right !important;
}

.left { text-align: left !important; }